# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Apotheosis Spawner Module Configuration

general {
    # The level of silk touch needed to harvest a spawner.  Set to -1 to disable, 0 to always drop.  The enchantment module can increase the max level of silk touch.
    # Functionally server-authoritative, but should match on client for information.
    # Default: 1; Range: [-1 ~ 127]
    I:"Spawner Silk Level"=1

    # The durability damage dealt to an item that silk touches a spawner.
    # Server-authoritative.
    # Default: 100; Range: [0 ~ 100000]
    I:"Spawner Silk Damage"=250

    # Whether to show info regarding the capturing enchantment in the JEI information for spawn eggs.
    # Default: true
    B:"Enable Capturing Enchantment JEI Info"=true
}


spawn_eggs {
    # A list of entity registry names that cannot be applied to spawners via egg.
    # Should match between client and server.
    # Default: [
    S:"Banned Mobs" <
        alexsmobs:mimicube
        quark:stoneling
        quark:toretoise
        quark:wraith
        minecraft:vindicator
        minecraft:wandering_trader
        hunterillager:hunterillager
        minecraft:elder_guardian
        minecraft:ravager
        minecraft:villager
        minecraft:zombie_villager
        guardvillagers:guard
        artifacts:mimic
        ars_nouveau:ally_vex
        ars_nouveau:an_lightning
        ars_nouveau:blazing_weald_walker
        ars_nouveau:bookwyrm
        ars_nouveau:cascading_weald_walker
        ars_nouveau:drygmy
        ars_nouveau:dummy
        ars_nouveau:familiar_bookwyrm
        ars_nouveau:familiar_drygmy
        ars_nouveau:familiar_jabberwog
        ars_nouveau:familiar_starbuncle
        ars_nouveau:familiar_whirlisprig
        ars_nouveau:familiar_wixie
        ars_nouveau:fangs
        ars_nouveau:flourishing_weald_walker
        ars_nouveau:flying_item
        ars_nouveau:follow_proj
        ars_nouveau:linger
        ars_nouveau:orbit
        ars_nouveau:ritual
        ars_nouveau:spell_arrow
        ars_nouveau:spell_proj
        ars_nouveau:spike
        ars_nouveau:starbuncle
        ars_nouveau:summon_horse
        ars_nouveau:summon_wolf
        ars_nouveau:vexing_weald_walkerre
        ars_nouveau:whirlisprig
        ars_nouveau:wilden_boss
        ars_nouveau:wilden_guardian
        ars_nouveau:wilden_hunter
        ars_nouveau:wilden_stalker
        ars_nouveau:wixie
        minecraft:wither
        occultism:afrit
        occultism:afrit_wild
        occultism:bat_familiar
        occultism:beholder_familiar
        occultism:blacksmith_familiar
        occultism:chimera_familiar
        occultism:cthulhu_familiar
        occultism:deer_familiar
        occultism:devil_familiar
        occultism:djinni
        occultism:dragon_familiar
        occultism:fairy_familiar
        occultism:foliot
        occultism:goat_familiar
        occultism:greedy_familiar
        occultism:guardian_familiar
        occultism:headless_familiar
        occultism:marid
        occultism:mummy_familiar
        occultism:otherworld_bird
        occultism:possessed_enderman
        occultism:possessed_endermite
        occultism:possessed_ghast
        occultism:possessed_skeleton
        occultism:shub_niggurath_familiar
        occultism:shub_niggurath_spawn
        occultism:thrown_sword
        occultism:wild_hunt_skeleton
        occultism:wild_hunt_wither_skeleton
        goblintraders:goblin_trader
        goblintraders:vein_goblin_trader
        alexsmobs:void_portal
        alexsmobs:void_worm
        alexsmobs:void_worm_part
        alexsmobs:void_worm_shot
        alexsmobs:mimic_octopus
        quark:forgotten
        quark:toretoise
        minecraft:warden
        deeperdarker:stalker
        deeperdarker:sculk_snapper
        deeperdarker:sculk_centipede
        minecraft:shulker
        creeperoverhaul:cave_creeper
        alexscaves:nucleeper
        alexscaves:brainiac
     >
}


